.article{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    
}
article h1{
    text-align: center;
}
.input{
    width: 240px;
    height: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
}
section button{
    width: 44px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background: transparent;

}
section button:hover{
    background-color:dimgrey;
}